# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Artifacts
*.gif
*.png
*.obj
*.npy
*.npz
*.prof
*.prof.gz

# IDE
.vscode/launch.json
.idea/

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/
*.cache
